<div class="card border-success">
  <h3 class="card-header bg-success">Customer Delete</h3>
  <div class="card-body">
    <div *ngIf="customerDelete">
<!--      <div>Name: {{customerDelete.nameCustomer}}</div>-->
<!--      <div>Gender:-->
<!--        <span *ngIf="customerDelete.gender == 0">Male</span>-->
<!--        <span *ngIf="customerDelete.gender == 1">Female</span>-->
<!--        <span *ngIf="customerDelete.gender > 1">LGBT</span>-->
<!--      </div>-->
<!--      <div>Birthday: {{customerDelete.birthday | date: "dd/MM/yyyy"}}</div>-->
<!--      <div>Type: {{customerDelete.typeCustomer}}</div>-->
<!--      <br/>-->
<!--      <a role="button" class="btn btn-danger" (click)="onDelete()">Delete</a>-->
    </div>
  </div>
</div>

