<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body>
<h3>Blog Delete</h3>
<form th:action="@{/blog/delete(id=${blogs.id})}" th:object="${blogs}" method="post">
    <fieldset>
        <legend>Blog detail</legend>
        <th style="font-weight: bold">Id:</th>
        <label th:text="${blogs.id}"></label><br><br>
        <th style="font-weight: bold">Name Blog:</th>
        <label th:text="${blogs.nameBlog}"></label><br><br>
        <th style="font-weight: bold">Date Release:</th>
        <label th:text="${blogs.dateRelease}"></label><br><br>
        <th style="font-weight: bold">Content:</th>
        <label th:text="${blogs.content}"></label><br><br>
        <th style="font-weight: bold">Writer:</th>
        <label th:text="${blogs.writer}"></label><br><br>
        <th style="font-weight: bold">Category:</th>
        <label th:text="${blogs.category.name}"></label><br><br>
        <div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
    </fieldset>
</form>
</body>
</html>