<div class="card border-success">
  <h3 class="card-header bg-success">Customer Detail</h3>
  <div class="card-body">
    <div *ngIf="customer">
<!--      <div>Name: {{customer.nameCustomer}}</div>-->
<!--      <div>Gender:-->
<!--        <span *ngIf="customer.gender == 0">Male</span>-->
<!--        <span *ngIf="customer.gender == 1">Female</span>-->
<!--        <span *ngIf="customer.gender > 1">LGBT</span>-->
<!--      </div>-->
<!--      <div>Birthday: {{customer.birthday | date: "dd/MM/yyyy"}}</div>-->
<!--      <div>Type: {{customer.typeCustomer}}</div>-->
    </div>
  </div>
</div>
