<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blog/layout :: head}">
</head>
<body>
<h3>Edit Product</h3>
<p><a th:href="@{/blog}">Back to Blog list</a></p>
<div>
    <form th:action="@{/blog/update}" th:object="${blogs}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Blog </label>
            <input type="text" th:field="*{nameBlog}">
        </div>
        <div>
            <label>Date Release </label>
            <span th:text="${blogs.dateRelease}"/>
            <input type="hidden" th:field="*{dateRelease}">
        </div>
        <div>
            <label>Content </label>
            <input type="text" th:field="*{content}">
        </div>
        <div>
            <label>Writer </label>
            <input type="text" th:field="*{writer}">
        </div>
        <div>
            <label>Category </label>
            <select th:field="${categoryList}">
                <option th:each="cate : ${categoryList}" th:value="${cate.id}" th:text="${cate.name}"></option>
            </select>
        </div>
        <input type="submit" value="Update">
    </form>
</div>
<!--<script>-->
<!--    function setCurrentDate(today) {-->
<!--        today = Date.now();-->
<!--        document.getElementById('date').innerHTML = today.toString();-->
<!--    }-->
<!--</script>-->
</body>
</html>