<div class="row">
  <div class="col-12">
    <div class="card border-primary">
      <h3 class="card-header bg-primary">Dictionary</h3>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Word</th>
            <th>Meaning</th>
            <th>Detail</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let word of dictionaryList">
            <td>{{word.id}}</td>
            <td>{{word.word}}</td>
            <td>{{word.mean}}</td>
            <td>
              <a [routerLink]="['detail', word.id]">
                <button class="btn btn-warning">Details</button>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


