<div class="row">
  <div class="col-12">
    <div class="card border-warning">
      <h3 class="card-header bg-warning">Project Create</h3>
      <div class="card-body">
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          <div class="form-group row">
            <label>Student</label>
            <input type="text" formControlName="nameStudent">
            <span *ngIf="createForm.controls.nameStudent.touched && createForm.controls.nameStudent.errors?.required"
                  style="color: red">Required input</span>
          </div>

          <div class="form-group row">
            <label>Group</label>
            <select #groupElement (change)="chooseGroup(groupElement.value)" formControlName="nameGroup">
              <option *ngFor="let group of nameGroups">{{group}}</option>
            </select>
            <span *ngIf="createForm.controls.nameGroup.touched && createForm.controls.nameGroup.errors?.required"
                  style="color: red">Required input</span>
          </div>

          <div class="form-group row">
            <label>Project</label>
            <input type="text" formControlName="nameProject">
            <span *ngIf="createForm.controls.nameProject.touched && createForm.controls.nameProject.errors?.required"
                  style="color: red">Required input</span>
          </div>

          <div class="form-group row">
            <label>Teacher</label>
            <select #teacherElement (change)="chooseTeacher(teacherElement.value)" formControlName="nameTeacher">
              <option *ngFor="let teacher of nameTeachers">{{teacher}}</option>
            </select>
            <span *ngIf="createForm.controls.nameTeacher.touched && createForm.controls.nameTeacher.errors?.required"
                  style="color: red">Required input</span>
          </div>

          <div class="form-group row">
            <label>Email</label>
            <input type="text" formControlName="email">
            <span *ngIf="createForm.controls.email.touched && createForm.controls.email.errors?.required"
                  style="color: red">Required input</span>
            <span *ngIf="createForm.controls.email.touched && createForm.controls.email.errors?.pattern"
                  style="color: red">Email is not right format("acb@def.com")</span>
          </div>
          <div class="form-group row">
            <label>Phone</label>
            <input type="text" formControlName="phone">
            <span *ngIf="createForm.controls.phone.touched && createForm.controls.phone.errors?.required"
                  style="color: red">Required input</span>
            <span *ngIf="createForm.controls.phone.touched && createForm.controls.phone.errors?.pattern"
                  style="color: red">Phone have to be format (phone from 10 to 12 number)</span>
          </div>
          <br/>
          <button type="submit" class="btn btn-primary">Create</button>
          <a role="button" class="btn btn-danger" routerLink="/home">Exit</a>
        </form>
      </div>
    </div>
  </div>
</div>

