<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product List</h3>
<p>
    <a th:href="@{product/create}">Add new product</a>
</p>
<table id="products">
    <thead>
    <tr>
        <td>Product ID</td>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Product Nationality</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product, rowStat : ${products}">
        <td th:text="${product.getId()}"></td>
        <td><a th:href="@{product/{id}/view(id=${product.id})}" th:text="${product.name}"></a></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getNationality()}"></td>
        <td><a th:href="@{product/{id}/edit(id=${product.getId()})}">Edit</a></td>
        <td>
            <a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete"
                    th:onclick="|setIdToDeleteForm('${product.id}')|">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure to delete this product?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitForm()">Delete</button>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/product/delete}" method="post" id="idForm">
    <input type="hidden" name="id" id="idProduct">
</form>
<!--<div th:replace="/layout :: delete"></div>-->
<footer th:replace="/layout :: footer"></footer>
<script>
    function setIdToDeleteForm(id) {
        //id này chính là id của phần tử input trong form delete
        document.getElementById("idProduct").value = id;
    }
    function submitForm() {
        document.getElementById("idForm").submit();
    }
</script>

</body>
</html>
