<div class="card border-success">
  <h3 class="card-header bg-success">Project Delete</h3>
  <div class="card-body">
    <h3 style="color: red">ARE YOU SURE?</h3>
    <div *ngIf="projectDelete">
      <div>ID: {{projectDelete.id}}</div>
      <div>Name: {{projectDelete.nameStudent}}</div>
      <div>Group: {{projectDelete.nameGroup}}</div>
      <div>Project: {{projectDelete.nameProject}}</div>
      <div>Teacher: {{projectDelete.nameTeacher}}</div>
      <div>Email: {{projectDelete.email}}</div>
      <div>Phone: {{projectDelete.phone}}</div>
      <br/>
      <a role="button" class="btn btn-danger" (click)="onDelete()">Delete</a>
    </div>
  </div>
</div>
