<div class="row">
  <div class="col-12">
    <div>
      <input class="form-control-sm" type="text" [(ngModel)]="keySearch" class="form-control-sm">
      <button class="btn btn-warning" (click)="search()">Search</button>
      <select [(ngModel)]="optionSearch" class="form-control-sm">
        <option value="1">Search By Name</option>
        <option value="2">Search By Type</option>
      </select>
    </div>
    <div class="card border-primary">
      <h3 class="card-header bg-primary">Customer List</h3>
      <div class="card-body">
        <div>
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Gender</th>
              <th>Birthday</th>
              <th>Phone</th>
              <th>Type</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of customerList">
              <td>{{item.id}}</td>
              <td>{{item.nameCustomer | titlecase}}</td>
              <td>
                <span *ngIf="item.gender == 0">Male</span>
                <span *ngIf="item.gender == 1">Female</span>
                <span *ngIf="item.gender > 1">LGBT</span>
              </td>
              <td>{{item.birthday | date: "dd/MM/yyyy"}}</td>
              <td>{{item.sdt}}</td>
              <td>{{item.typeCustomer}}</td>
              <td>
                <a role="button" class="btn btn-warning" [routerLink]="['edit', item.id]">Edit</a>
                <a role="button" class="btn btn-danger" [routerLink]="['delete', item.id]">Delete</a>
                <a role="button" class="btn btn-success" [routerLink]="['detail', item.id]">Details</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
