<h3>Change Color</h3>
<div>
  <select (change)="changeColor($event.target.value)">
    <option *ngFor="let i of color" value="{{i}}">{{i}}</option>
<!--    <option #element (change)="colorPicker(element.value)">Blue</option>-->
<!--    <option #element1 (change)="colorPicker(element1.value)">Green</option>-->
<!--    <option #element2 (change)="colorPicker(element2.value)">Orange</option>-->
<!--    <option #element3 (change)="colorPicker(element3.value)">Pink</option>-->
  </select>
</div>
<p class="output" [style.color]="tempColor">
  This is test color </p>
<!--neu thik doi mau nen thi se la beackground, chu la color-->
